[submodule "Ramensoup/vendor/glfw"]
	path = Ramensoup/vendor/glfw
	url = https://github.com/HappyFaceFriend/glfw
[submodule "Ramensoup/vendor/ImGui"]
	path = Ramensoup/vendor/ImGui
	url = https://github.com/HappyFaceFriend/imgui
[submodule "Ramensoup/vendor/glm"]
	path = Ramensoup/vendor/glm
	url = https://github.com/HappyFaceFriend/glm
[submodule "Ramensoup/vendor/assimp"]
	path = Ramensoup/vendor/assimp
	url = https://github.com/HappyFaceFriend/assimp
[submodule "Ramensoup/vendor/yaml-cpp"]
	path = Ramensoup/vendor/yaml-cpp
	url = https://github.com/HappyFaceFriend/yaml-cpp
